<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Suivez-nous !</h2>
          <!-- <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p> -->
          <a class="" href="https://fr-fr.facebook.com/Ceux-qui-adorent-Fajoles-46300-38727777373/" ><i class="fa fa-5x fa-facebook facebook-link" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
