<li><a class="{% if page.url == '/' %}current{% endif %}" href="{{ site.baseurl }}/">Blog</a></li>

<!-- <li><a class="{% if page.url contains 'blog' or page.url contains 'valcadis' or page.url contains 'la-plaine' or page.url contains 'randonnee' %}current{% endif %}" href="{{ site.baseurl }}/blog.html">Blog</a></li> -->
<li><a class="{% if page.url == '/about.html' %}current{% endif %}" href="{{ site.baseurl }}/about.html">A propos</a></li>
<li><a class="" href="https://fr-fr.facebook.com/Ceux-qui-adorent-Fajoles-46300-38727777373/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
