---
title: blog
layout: default
comments: true
---

<section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

                <div class="block">
                  <div class="portfolio-menu">
                    <ul>
                      <li class="filter"><a class="{% if page.url == '/' %}current{% endif %}" href="{{ site.baseurl }}/">Tous</a></li>
                      <li class="filter"><a class="{% if page.url == '/la-plaine.html' %}current{% endif %}" href="{{ site.baseurl }}/la-plaine.html">La Plaine</a></li>
                      <li class="filter"><a class="{% if page.url == '/randonnee.html' %}current{% endif %}" href="{{ site.baseurl }}/randonnee.html">Randonnées</a></li>
                      <li class="filter"><a class="{% if page.url == '/valcadis.html' %}current{% endif %}" href="{{ site.baseurl }}/valcadis.html">Valcadis</a></li>
                    </ul>
                  </div>
                </div>


                {{ content }}
            </div>
            <div class="row">
              <div class="col-md-2">
                <p>tbuycfrrxyfrfhgjhgsffdzrfcsfgbdiuh</p>
              </div>
            </div>
        </div>
    </section>
